<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <appSettings>
    <add key="EndPointUrl" value="https://searchintegration.documents.azure.com:443/"/>
    <add key="AuthorizationKey" value="ue25FWbBvSE1QbebPqSrgLesn2gOrgkx9KnL9hVkfYK6/GoLvdL7GvWzk+Iqa529JbaREa6Hz2UAxphmvijd0Q=="/>
    <add key="DatabaseName" value="perfdb2"/>
    <add key="CollectionName" value="perfcoll2"/>
    <add key="CollectionThroughput" value="50000"/>
    <add key="ShouldDeleteAndRecreateDatabaseAndCollection" value="false"/>
    <add key="TaskCount" value="200"/>

    <add key="CollectionPartitionKey" value="/playerId"/>
    
    <!--<add key="DocumentTemplateFile" value="Player.json"/>-->
    <add key="DocumentTemplateFile" value="KeyValue.json"/>
  </appSettings>
</configuration>
