<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="error.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="EndPointUrl" value="https://zombiesdemo.documents.azure.com:443/"/>
    <add key="AuthorizationKey" value="6rVQ1v4l5nF7TTrTSEWaN8odRKUGniG6uehjUQBgkjYQhqAinwBZ3bxUg7bM1l3wmyJZCbz8pgxNa1oUzW8dAA=="/>

    <add key="DatabaseName" value="zombiedb"/>
    <add key="CollectionName" value="zombie-data"/>
    <add key="MetricsCollectionName" value="zombie-metrics"/>

    <add key="CollectionThroughput" value="250000"/>
    <add key="ShouldDeleteAndRecreateDatabaseAndCollection" value="false"/>
    <add key="TaskCount" value="700"/>

    <add key="CollectionPartitionKey" value="/playerId"/>

    <!--<add key="DocumentTemplateFile" value="Player.json"/>-->
    <add key="DocumentTemplateFile" value="Player.json"/>
  </appSettings>
</configuration>